@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{

    --color-background-page: #000;
    --color-background-hover: #aee9f6;
   
    --color-paragraph: #fff;
}


* {  /*reset CSS*/
    margin: 0;
    padding: 0;
}

.cabecalho{
   
    padding: 5% 2% 2% 5%
}

.cabecalho__link{
    display: flex;
    gap: 80px;
}

.cabecalho__link__menu{
    display: flex;
    font-family: 'Montserrat',sans-serif;
    font-size: 30px;
    color: var(--color-title);
    text-decoration:none;
}

.cabecalho__link__menu:hover{
    background-color: var(--color-background-hover);
    color: var(--color-background-page);
    border-radius: 16px;
}

body {
    
    /*height: 100vh;*/
    box-sizing: border-box;
    background-color: var(--color-background-page);
    color: var(--color-paragraph);
    background-image: url("../images/wallpaperbetter.jpg");
    background-repeat: no-repeat;
    
}

.apresentacao {
    display: flex;          /*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
    align-items: center;
    justify-content: space-between;
    /*margin:5%;*/
    padding: 5% 5%;
 }

 .apresentacao__sec01{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
 }

 .apresentacao__sec01__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 30px;
 }

 .apresentacao__sec01__paragrafo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
 }

.titulodestaque {
    color: var(--color-background-hover);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.apresentacao__links__botoes{
    margin: 15px;
    /*background-color: #22d4fd;*/
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 2px solid var(--color-background-hover);
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-paragraph);
    font-size: 25px;
    width: 300px;
    border-radius: 16px;
    padding: 5px 0;
    text-decoration: none;
}

.apresentacao__links__botoes:hover{
    background-color: var(--color-background-hover);
    color: var(--color-background-page)
}

.rodape{
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    background-color: var(--color-background-hover);
}

.img_logo {
    opacity: 0.3;
    border-radius: 50%;
    width: 70%;
  }